html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.wrapper {
    margin: 0 auto;
    background-color: #da9e9e;
    max-width: 800px;
    height: 100vh;
    width: 100%;
    box-shadow: 0 0 5px #00000040;
}

header {
    height: 40px;
    background-color: #daca9e;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    background-color: #b9e2ff;
    padding: 15px;
    top: 40px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 0 6px #0000002e;
}

form>* {
    margin-bottom: 7px;
    max-width: 280px;
    width: 100%;
    padding: 3px 10px;
}

form>button {
    width: fit-content;
    margin-top: 10px;
    cursor: pointer;
}

.error {
    color: red;
}

.contact-list {
    font-size: 12px;
    overflow-y: auto;
    width: 100% !important;
    max-height: 320px;
    max-width: inherit;
}

table td {
    padding: 5px 10px;
}

tr>* {
    width: calc(100% / 3);
}